<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/application.css" />
    <title>index</title>
  </head>

  <body>
    <h1>Books
    </h1>

  </body>
</html>
